.fact__container{
    justify-content: center; /* Center items horizontally */
    gap: 40px;               /* Adjust gap as needed */
}

.fact__container .title{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

@media (max-width: 1100px) {

    .fact__container .title{
        font-size: 32px;
    }
    .fact__container .label{
        font-size: 12px;
    }
    
}

@media (max-width: 500px) {
    
    .fact__container .title{
        font-size: 25px;
    }
}